/* Animation bouton*/

.introduction__btn:hover {
    box-shadow: 0 7px 10px -3px #7e7e7e;
    background-image: linear-gradient(170deg, #ee81cf, #a469ec);
}
/* Animation apparition des menus*/ 

@keyframes apparition {
    0%{
        opacity: 0;
        transform: translateY(25px);
    }
    40%{
        opacity: 0;
        transform: translateY(25px);
    }
    60%{
        opacity: 0;
        transform: translateY(25px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}

.card__menu-content:nth-child(1){
  animation: apparition 1s linear backwards;
}
.card__menu-content:nth-child(2){
  animation: apparition 1s 0.3s linear backwards;
}
.card__menu-content:nth-child(3){
  animation: apparition 1s 0.6s linear backwards;
}
.card__menu-content:nth-child(4){
  animation: apparition 1s 0.9s linear backwards;
}

/* Animation Loader */

.loading{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(170deg, #ff79da, #9356dc);
    position: fixed;
    z-index: 999;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    -webkit-animation: fade-out 3s ease-out both;
	        animation: fade-out 3s ease-out both;
}

@keyframes fade-out{
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0,5;
    visibility: hidden;
  }
}

.loader{
    color: white;
    animation: focus-in-expand-fwd 3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes focus-in-expand-fwd {
    0% {
        letter-spacing: -0.5em;
        transform: translateZ(-800px);
        filter: blur(12px);
        opacity: 0;
      }
      100% {
        transform: translateZ(0);
         filter: blur(0);
        opacity: 1;
      }
    
}
.spinner i{
    margin: 100px auto;
    width: 50px;
    height: 40px;
    text-align: center;
    font-size: 50px;
    color: wheat;
    animation: rotate-out-ver 3s cubic-bezier(0.550, 0.085, 0.680, 0.530) infinite;
  }
  @keyframes rotate-out-ver {
    0% {
      transform: rotateY(360deg);
      opacity: 1;
    }
    100% {

      transform: rotateY(0deg);
      opacity: 0;
      visibility: hidden
    }
  }
  
  
  @keyframes sk-stretchdelay {
    0%, 40%, 100% { 
      transform: scaleY(0.4);
    }  20% { 
      transform: scaleY(1.0);
    }
  }
/* Animation heart */
.icon-restaurants i {
    transition: all 200ms;
}

.icon-restaurants i:hover {
    font-weight: bold;
    background: radial-gradient(circle,rgba(147, 86, 220, 1) 0%,rgba(255, 121, 218, 1) 100%);
    transition: all 500ms;
    background-clip: text;
    color: transparent;
}

.title__icon i{
    transition: all 200ms;
}
 .title__icon i:hover{
    font-weight: bold;
    background: radial-gradient(circle,rgba(147, 86, 220, 1) 0%, rgba(255, 121, 218, 1) 100%);
    transition: all 500ms;
    background-clip: text;
    color: transparent;
    transition: all 0.3s linear 0s;
 }

/* Animation card */ 

.anim{
    position: absolute;
    right: -65px;
    background: #99E2D0;
    height: 100%;
    width: 18%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: 1s;
    overflow: hidden;
}
 .card__menu-content{
  overflow: hidden;
 }
.card__menu-content:hover .anim{
    opacity: 1;
    right: 0;
    transition: right 1s;
}

.card__menu-content:hover{
    padding-right: 19%;
    transition: 1s;
}

.iconicon{
    font-size: 20px;
    color: white;
    transition: all 1s ease-in-out;
    transform: rotate(0deg);
}

.card__menu-content:hover .iconicon {
  transform: rotate(360deg);
}


.card__menu-content-phrase a {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.card__menu-content h3{
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
