@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
}

header {
    width: auto;
    margin: auto;
}
 main {
    width: 70%;
  margin: auto;
}
footer {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    background-color: #696969;
    width: auto;
}

.introduction__title--bold  , .nav  , .container-restaurants {
    font-weight: 550;
}

/* couleurs */
.icon-nav , .icon-localisation , .icon-restaurants
{
    color: gray
}

/* PAGE D'ACCUEIL */ 

.logo , .localisation
{
    display: flex;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 30px;
    width: 100%;

    .icon-localisation
    {
        padding-right: 15px;
        display: flex;
    }
}
.introduction-and-nav
{
    display: flex;
    justify-content: space-evenly;
    padding-top: 30px;
    padding-bottom: 30px;
    width: 100%;
    background-color: #F2F2F2;
}
.introduction
{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
    

    &__title{
        font-size: 17px;
    }
        &__btn{
            border-radius: 25px;
            width: fit-content;
            padding: 10px;
            list-style-type: none;
            text-decoration: none;
            color: black;
            box-shadow: 0 3px 10px -3px #7e7e7e;
        }
            &__title-bold{
                font-size: 25px;
            }
}
.nav
{
    align-self: flex-end;

    &__title{
        font-size: 20px;
    }
        &__link{
            display: flex;
            margin: 10px;
            padding: 15px;
            border-radius: 20px;
            list-style-type: none;
            text-decoration: none;
            color: black;
            width: auto;
            align-items: center;
            box-shadow: 0 3px 10px -3px #7e7e7e;
        }
            &__icon{
                padding-right: 5px;
                border-radius: 50%;
                height: 30px;
                width: 30px;
                display: flex;
                justify-content: center;
                align-items: center;
            }
                &__btn{
                    padding-left: 10px;
                    padding-right: 15px;
                }
   
}


.container-restaurants
{
    padding-top: 50px; 
    padding-bottom: 50px;

    &__title{
        font-size: 22px;
        padding-left: 50px;
        font-weight: bold;
    }
    
}

.restaurants{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around; 


 
    &__card{
        background-color: white;
        width: 500px;
        height: 280px;
        border-radius: 15px;
        margin-bottom: 30px;
        list-style-type: none;
        text-decoration: none;
        color: black;
        font-size: 13px;
        margin: 20px;
        box-shadow: 0 3px 10px -3px #7e7e7e;

        &-content{
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .icon-restaurants{
            margin-right: 25px;
            margin-bottom: 10px;
            font-size: x-large;
        }
        p{
            font-size: 15px;
            padding-left: 20px;
            margin-top: 5px;
        }
        h3{
            font-size: 20px;
            padding-left: 20px;
            margin-bottom: 0;
        }

            &-img{
                width: 100%;
                height: 67%;
                background-position: center center;
                background-size: cover;
                border-radius: 15px 15px 0 0;
            }
    }

}





footer ul 
{
    list-style-type: none;
    padding: 0;
}

footer li
{
    margin: 10px;
}

footer a 
{
    font-size: 15px;
    color: black;
    padding-bottom: 3px;
    text-decoration: none;
}


.container-footer{
    display: flex;
    justify-content: space-around;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 22px;
    width: 70%;

    &__title{
        font-family: 'Shrikhand', cursive;
        align-self: center;
        color:white;
    }

    ul{
        list-style-type: none;
        padding: 0; 
    }

    ul a{
        list-style-type: none;
        text-decoration: none;
        color: white; 
    }
    
}

@media all and (max-width: 640px){
    main{
        width: auto;
    }
    .logo{
        padding-bottom: 20px;
        padding-top: 20px;
    }
    
    .localisation{
        background-color: #80808045;
        padding-top: 15px;
        padding-bottom: 15px;
    }
    .introduction-and-nav{
        flex-direction: column;
        background-color: white;
        padding: unset;
    }
    .introduction{
        background-color: #F2F2F2;
        text-align: center;
        align-items: center;
        padding: 40px;
    }
    .introduction__title-bold{
        width: 75%;
        padding-bottom: 15px;
        font-weight: bold;
    }
    .introduction__title{
        width: 90%;
        padding-bottom: 35px;
    }
    .nav{
        align-self: center;
        padding-top: 40px;
        padding-bottom: 40px;
        width: 90%;
    }
    .container-restaurants{
      background-color: #F2F2F2;
    }
    
    footer{
        justify-content: start;
        padding-left: 25px;
    }
    .container-footer{
        display: block;
        font-size: 20px; 
    }
    

}

@media all and (min-width: 640px) and (max-width: 770px){
    main{
        width: auto;
    }
    .logo{
        padding-bottom: 20px;
        padding-top: 20px;
    }
    
    .localisation{
        background-color: #80808045;
        padding-top: 15px;
        padding-bottom: 15px;
    }
    .introduction-and-nav{
        flex-direction: column;
        background-color: white;
        padding: unset;
    }
    .introduction{
        background-color: #F2F2F2;
        text-align: center;
        align-items: center;
        padding: 40px;
    }
    .introduction__title-bold{
        width: 75%;
        padding-bottom: 15px;
        font-weight: bold;
    }
    .introduction__title{
        width: 90%;
        padding-bottom: 35px;
    }
    .nav{     
        padding:40px
    }
    .nav__title-content{
        display: flex
    }
    .container-restaurants {
        padding-top: 0;
}


}


/* Menu 1 */

.title{
    padding-left: 30px;
    border-bottom: 1px black solid;

}
.title a {
    font-family: 'Shrikhand', cursive;
    font-size: x-large;
    
    }

.title__icon{
    font-size: 20px;
    margin-left: 30px;
}
.cards{
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
}
.card{
    &__title{
        text-align-last: center;
        font-size: 18px;
    }
    &__menu-content{
        box-shadow: 0 1px 10px -3px #7e7e7e;
        margin: 10px;
        padding: 10px;
        display: flex;
        flex-direction: column;
        border-radius: 10px;

        &-phrase{
            display: flex;
            justify-content: space-between;
        }

        h3{
            margin: 0;
            margin-bottom: 5px;
            font-size: 17px;
        }
        a{
            font-size: 15px;
        }

        .price{
            font-size: 15px;
        }
    }
}

.btn{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    margin-top: 50px;

    &-commander{
        border-radius: 20px;
        border: black 1px solid;
        padding: 15px;
        text-align: center;
        width: 15%;
    }
}


@media all and (max-width: 640px){
    
        .menu_img{
            background-color: white;
            width: auto;
            height: 270px;

            &-content{
                width: 100%;
            height: 270px;
            background-position: center center;
            background-size: cover;
            }
        }
        
        .main-menu{
            background-color: #F2F2F2;
            border-radius: 40px 40px 0 0;
        }
        .title{
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 77%;
            padding-left: 25px;
            height: 61px;
            border: none;
        }
        .cards{
            display: block;
        }
        
        .card{

            padding-top: 30px;
            padding-bottom: 30px;

            &__title{
                text-align-last: auto;
                padding-left: 10px;
            }

            .card__menu-content{
            
                background-color: white;
           }
        }

        .btn{
            margin: 0;

            &-commander{
                width: 35%;
                margin-bottom: 60px;
            }

        }

        
        
        
        
    
}

