@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
}

header {
    width: auto;
    margin: auto;
  
}
 main {
    width: 70%;
  margin: auto;
 
}
footer {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    background-color: #353535;
    width: auto;
}

/* couleurs */
.icon-nav , .icon-localisation , .icon-restaurants , .nav__icon 
{
    color: gray
}

/* PAGE D'ACCUEIL */ 

.logo , .localisation
{
    display: flex;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 30px;
    width: 100%;

    .icon-localisation
    {
        padding-right: 15px;
        display: flex;
    }
}
.introduction-and-nav
{
    display: flex;
    justify-content: space-evenly;
    padding-top: 30px;
    padding-bottom: 30px;
    width: 100%;
    background-color: #F2F2F2;
}
.introduction
{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
    

    &__title{
        font-size: 17px;
    }
        &__btn{
            border-radius: 25px;
            width: max-content;
            padding: 15px;
            list-style-type: none;
            text-decoration: none;
            color: white;
            box-shadow: 0 3px 10px -3px #7e7e7e;
            background-image: linear-gradient(170deg, #ff79da, #9356dc);
        }
            &__title-bold{
                font-size: 25px;
                font-weight: bold;
            }
}
.nav
{
    align-self: flex-end;

    &__title{
        font-size: 20px;
        font-weight: bold;
    }
        &__link{
            display: flex;
            margin: 20px;
            padding: 18px;
            padding-left: 0;
            border-radius: 20px;
            list-style-type: none;
            text-decoration: none;
            color: black;
            width: auto;
            align-items: center;
            box-shadow: 0 0px 5px -3px #7e7e7e;
            background-color: white;
        }

        &__number{
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            left: -11px;
            border-radius: 100%;
            background-color: #9356dc;
            height: 25px;
            width: 25px;
            color: white;
            font-weight: normal;
            font-size: 13px;
        }

        
        
            &__icon{
                padding-right: 5px;
                border-radius: 50%;
                height: 30px;
                width: 30px;
                display: flex;
                justify-content: center;
                align-items: center;
            }
                &__btn{
                    padding-left: 10px;
                    padding-right: 15px;
                    font-size: 15px;
                    font-weight: bold;
                }
   
}
.nav__link:hover{
    background-color: lighten($color: #9356DC, $amount: 30);
    box-shadow: 0 5px 10px -3px #7e7e7e;
 }
 .nav__link:hover i {
     color: #9356DC;
 }
.container-restaurants
{
    padding-top: 50px; 
    padding-bottom: 50px;

    &__title{
        font-size: 22px;
        font-weight: bold;
        display: flex;
        justify-content: center;
    }
    
}

.restaurants{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around; 


 
    &__card{
        background-color: white;
        width: 500px;
        height: 280px;
        border-radius: 15px;
        margin-bottom: 30px;
        list-style-type: none;
        text-decoration: none;
        color: black;
        font-size: 13px;
        margin: 20px;
        box-shadow: 0 3px 10px -3px #7e7e7e;

        &-content{
            display: flex;
            justify-content: space-between;
            align-items: center;

        }

        .icon-restaurants{
            margin-right: 25px;
            margin-bottom: 10px;
            font-size: x-large;
            
        }
        p{
            font-size: 15px;
            padding-left: 20px;
            margin-top: 5px;
        }
        h3{
            font-size: 20px;
            padding-left: 20px;
            margin-bottom: 0;
        }

            &-img{
                position: relative;
                width: 100%;
                height: 67%;
                background-position: center center;
                background-size: cover;
                border-radius: 15px 15px 0 0;
            }
            
    }

}
.restaurant__card-img--new{
    position: absolute;
    background-color: #99e2d0;
    right: 10px;
    top: 10px;
    font-size: 15px;
    padding: 5px 10px;
    border-radius: 5px;
    color: #197d65;
}


footer ul 
{
    list-style-type: none;
    padding: 0;
}

footer li
{
    margin: 10px;
}

footer a 
{
    font-size: 15px;
    color: black;
    padding-bottom: 3px;
    text-decoration: none;
}


.container-footer{
    display: flex;
    justify-content: space-around;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 22px;
    width: 70%;

    &__title{
        font-family: 'Shrikhand', cursive;
        align-self: center;
        color:white;
    }

    ul{
        list-style-type: none;
        padding: 0; 
    }

    ul a{
        list-style-type: none;
        text-decoration: none;
        color: white; 
    }
    
}

@media all and (max-width: 640px){
    main{
        width: auto;
    }
    .logo{
        padding-bottom: 20px;
        padding-top: 20px;
    }
    
    .localisation{
        background-color: #80808045;
        padding-top: 15px;
        padding-bottom: 15px;
        box-shadow: 0em 0 0.3em #808080;
    }
    .introduction-and-nav{
        flex-direction: column;
        background-color: white;
        padding: unset;
    }
    .introduction{
        background-color: #F2F2F2;
        text-align: center;
        align-items: center;
        padding: 30px;
    }
    .introduction__title-bold{
        width: 75%;
        padding-bottom: 15px;
    }
    .introduction__title{
        width: 90%;
        padding-bottom: 35px;
    }
    .nav{
        align-self: center;
        padding-top: 40px;
        padding-bottom: 40px;
        width: 90%; 

        &__link{
            background-color: #F2F2F2;
        }
    }
    .container-restaurants{
      background-color: #F2F2F2;
    }
    
    .container-restaurants__title{
        justify-content: start;
        padding-left: 20px;
    }

    .restaurants__card{
        height: 240px;
    }
    
    footer{
        justify-content: start;
        padding-left: 25px;
    }
    .container-footer{
        display: block;
        font-size: 20px; 
    }
    

}

@media all and (min-width: 640px) and (max-width: 770px){
    main{
        width: auto;
    }
    .logo{
        padding-bottom: 20px;
        padding-top: 20px;
    }
    
    .localisation{
        background-color: #80808045;
        padding-top: 15px;
        padding-bottom: 15px;
    }
    .introduction-and-nav{
        flex-direction: column;
        background-color: white;
        padding: unset;
    }
    .introduction{
        background-color: #F2F2F2;
        text-align: center;
        align-items: center;
        padding: 40px;
    }
    .introduction__title-bold{
        width: 75%;
        padding-bottom: 15px;
        font-weight: bold;
    }
    .introduction__title{
        width: 90%;
        padding-bottom: 35px;
    }
    .nav{     
        padding:40px
    }
    .nav__title-content{
        display: flex
    }
    .nav__link{
       background-color: #F2F2F2;
    }
    .container-restaurants {
        padding-top: 0;
}


}


/* Menu 1 */
.logo-ohmyfood{
    justify-content: center;
    display: flex;
    align-items: center;
    height: 5rem;

    &__retour{
        color:black;
        font-size: 20px;
        margin-right: 24px;
    }
}
.menu_img-content{
    height: 270px;
    width: auto;
    background-size: cover;
    background-position: center;
    margin-bottom: 25px;
}
 hr{
    height: 3px;
    width: 15%;
    background-color: #99E2D0;
    border: none;
 }
.title{
    padding-left: 15px;
    border-bottom: 1px black solid;
    display: flex;
    justify-content: center;

}
.title a {
    font-family: 'Shrikhand', cursive;
    font-size: x-large;
    
    }

.title__icon{
    font-size: 20px;
    margin-left: 30px;
}
.cards{
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    width: 70%;
    margin-left: 15%;
}
.card{
    
    &__title{
        text-align-last: center;
        font-size: 18px;
    }
    &__menu-content{
        box-shadow: 0 1px 10px -3px #7e7e7e;
        margin: 10px;
        display: flex;
        flex-direction: column;
        border-radius: 10px;
        position: relative;
        
    

        &-phrase{
            display: flex;
            justify-content: space-between;
        }

        &-price{
            font-size: 15px;
            padding-right: 10px;
        }

        h3{
            margin: 0;
            margin-bottom: 5px;
            font-size: 17px;
            padding-left: 10px;
            padding-top: 10px;
        }
        a{
            font-size: 15px;
            padding-left: 10px;
            padding-bottom: 10px;
        }
    }
}

.btn{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    margin-top: 50px;

    &__commander{
        border-radius: 30px;
        box-shadow: 0 1px 10px -3px #7e7e7e;
        padding: 15px 50px;
        text-align: center;
        width: auto;
        background-image: linear-gradient(170deg, #ff79da, #9356dc);
        color:white;
    }
}


@media all and (max-width: 640px){
    
    .logo-ohmyfood__retour{
        align-self: center;
        font-size: 20px;
    }
        .menu_img{
            background-color: white;
            width: auto;
            height: 270px;

            &-content{
                width: 100%;
            height: 270px;
            background-position: center center;
            background-size: cover;
            }
        }
        
        .main-menu{
            background-color: #F2F2F2;
            border-radius: 40px 40px 0 0;
            margin-top: -38px;
        }
        .title__icon{
            margin-left: 0;
        }
        .title{
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 85%;
            border: none;
            padding-top: 25px;
        }
        hr{
            height: 3px;
            width: 11%;
            background-color: #99E2D0;
            border: none;
            margin:0;
         }
        .cards{
            display: block;
            padding-top: 0;
            width: 100%;
            margin-left: 0;
        }
        
        .card{

            padding-top: 30px;

            &__title{
                text-align-last: auto;
                padding-left: 15px;
            }

            .card__menu-content{
            
                background-color: white;
                margin: 16px;
           }
        }

        .btn{
            margin: 0;
            padding-bottom: 70px;
            padding-top: 50px;
            }
}