@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
body {
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
}

header {
  width: auto;
  margin: auto;
}

main {
  width: 70%;
  margin: auto;
}

footer {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  background-color: #353535;
  width: auto;
}

/* couleurs */
.icon-nav, .icon-localisation, .nav__icon {
  color: gray;
}

/* PAGE D'ACCUEIL */
.logo, .localisation {
  display: flex;
  justify-content: center;
  padding-top: 30px;
  padding-bottom: 30px;
  width: 100%;
}
.logo .icon-localisation, .localisation .icon-localisation {
  padding-right: 15px;
  display: flex;
}

.introduction-and-nav {
  display: flex;
  justify-content: space-evenly;
  padding-top: 30px;
  padding-bottom: 30px;
  width: 100%;
  background-color: #F2F2F2;
}

.introduction {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  padding: 10px;
}
.introduction__title {
  font-size: 17px;
}
.introduction__btn {
  border-radius: 30px;
  text-decoration: none;
  box-shadow: 0 1px 10px -3px #7e7e7e;
  padding: 15px 50px;
  text-align: center;
  width: max-content;
  background-image: linear-gradient(170deg, #FF79DA, #9356DC);
  color: white;
}
.introduction__title-bold {
  font-size: 25px;
  font-weight: bold;
}

.nav {
  align-self: flex-end;
}
.nav__title {
  font-size: 20px;
  font-weight: bold;
}
.nav__link {
  display: flex;
  margin: 20px;
  padding: 18px;
  padding-left: 0;
  border-radius: 20px;
  list-style-type: none;
  text-decoration: none;
  color: black;
  width: auto;
  align-items: center;
  box-shadow: 0 0px 5px -3px #7e7e7e;
  background-color: white;
}
.nav__number {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  left: -11px;
  border-radius: 100%;
  background-color: #9356DC;
  height: 25px;
  width: 25px;
  color: white;
  font-weight: normal;
  font-size: 13px;
}
.nav__icon {
  padding-right: 5px;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav__btn {
  padding-left: 10px;
  padding-right: 15px;
  font-size: 15px;
  font-weight: bold;
}

.nav__link:hover {
  background-color: #e4d5f6;
  box-shadow: 0 5px 10px -3px #7e7e7e;
}

.nav__link:hover i {
  color: #9356DC;
}

.container-restaurants {
  padding-top: 50px;
  padding-bottom: 50px;
}
.container-restaurants__title {
  font-size: 22px;
  font-weight: bold;
  display: flex;
  justify-content: center;
}

.restaurants {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
.restaurants__card {
  background-color: white;
  width: 500px;
  height: 280px;
  border-radius: 15px;
  margin-bottom: 30px;
  list-style-type: none;
  text-decoration: none;
  color: black;
  font-size: 13px;
  margin: 20px;
  box-shadow: 0 3px 10px -3px #7e7e7e;
}
.restaurants__card-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.restaurants__card .icon-restaurants {
  margin-right: 25px;
  margin-bottom: 10px;
  font-size: x-large;
}
.restaurants__card p {
  font-size: 15px;
  padding-left: 20px;
  margin-top: 5px;
}
.restaurants__card h3 {
  font-size: 20px;
  padding-left: 20px;
  margin-bottom: 0;
}
.restaurants__card-img {
  position: relative;
  width: 100%;
  height: 67%;
  background-position: center center;
  background-size: cover;
  border-radius: 15px 15px 0 0;
}

.restaurant__card-img--new {
  position: absolute;
  background-color: #99E2D0;
  right: 10px;
  top: 10px;
  font-size: 15px;
  padding: 5px 10px;
  border-radius: 5px;
  color: #197d65;
}

footer ul {
  list-style-type: none;
  padding: 0;
}

footer li {
  margin: 10px;
}

footer a {
  font-size: 15px;
  color: #353535;
  padding-bottom: 3px;
  text-decoration: none;
}

.container-footer {
  display: flex;
  justify-content: space-around;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 22px;
  width: 70%;
}
.container-footer__title {
  font-family: "Shrikhand", cursive;
  align-self: center;
  color: white;
}
.container-footer ul {
  list-style-type: none;
  padding: 0;
}
.container-footer ul a {
  list-style-type: none;
  text-decoration: none;
  color: white;
}

@media all and (max-width: 700px) {
  main {
    width: auto;
  }

  .logo {
    padding-bottom: 20px;
    padding-top: 20px;
  }

  .localisation {
    background-color: #80808045;
    padding-top: 15px;
    padding-bottom: 15px;
    box-shadow: 0em 0 0.3em #808080;
  }

  .introduction-and-nav {
    flex-direction: column;
    background-color: white;
    padding: unset;
  }

  .introduction {
    background-color: #F2F2F2;
    text-align: center;
    align-items: center;
    padding: 30px;
  }

  .introduction__title-bold {
    width: 75%;
    padding-bottom: 15px;
  }

  .introduction__title {
    width: 90%;
    padding-bottom: 35px;
  }

  .nav {
    align-self: center;
    padding-top: 40px;
    padding-bottom: 40px;
    width: 90%;
  }
  .nav__link {
    background-color: #F2F2F2;
  }

  .container-restaurants {
    background-color: #F2F2F2;
  }

  .container-restaurants__title {
    justify-content: start;
    padding-left: 20px;
  }

  .restaurants__card {
    height: 240px;
  }

  footer {
    justify-content: start;
    padding-left: 25px;
  }

  .container-footer {
    display: block;
    font-size: 20px;
  }
}
@media all and (min-width: 640px) and (max-width: 770px) {
  main {
    width: auto;
  }

  .logo {
    padding-bottom: 20px;
    padding-top: 20px;
  }

  .localisation {
    background-color: #80808045;
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .introduction-and-nav {
    flex-direction: column;
    background-color: white;
    padding: unset;
  }

  .introduction {
    background-color: #F2F2F2;
    text-align: center;
    align-items: center;
    padding: 40px;
  }

  .introduction__title-bold {
    width: 75%;
    padding-bottom: 15px;
    font-weight: bold;
  }

  .introduction__title {
    width: 90%;
    padding-bottom: 35px;
  }

  .nav {
    padding: 40px;
  }

  .nav__title-content {
    display: flex;
  }

  .nav__link {
    background-color: #F2F2F2;
  }

  .container-restaurants {
    padding-top: 0;
  }
}
/* Menu 1 */
.logo-ohmyfood {
  justify-content: center;
  display: flex;
  align-items: center;
  height: 5rem;
}
.logo-ohmyfood__retour {
  color: black;
  font-size: 20px;
  margin-right: 24px;
}

.menu_img-content {
  height: 270px;
  width: auto;
  background-size: cover;
  background-position: center;
  margin-bottom: 25px;
}

hr {
  height: 3px;
  width: 15%;
  background-color: #99E2D0;
  border: none;
}

.title {
  padding-left: 15px;
  border-bottom: 1px black solid;
  display: flex;
  justify-content: center;
}

.title a {
  font-family: "Shrikhand", cursive;
  font-size: x-large;
}

.cards {
  display: flex;
  flex-direction: column;
  padding-top: 30px;
  width: 70%;
  margin-left: 15%;
}

.card__title {
  text-align-last: center;
  font-size: 18px;
}
.card__menu-content {
  box-shadow: 0 1px 10px -3px #7e7e7e;
  margin: 10px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  position: relative;
}
.card__menu-content-phrase {
  display: flex;
  justify-content: space-between;
}
.card__menu-content-price {
  font-size: 15px;
  padding-right: 10px;
}
.card__menu-content h3 {
  margin: 0;
  margin-bottom: 5px;
  font-size: 17px;
  padding-left: 10px;
  padding-top: 10px;
}
.card__menu-content a {
  font-size: 15px;
  padding-left: 10px;
  padding-bottom: 10px;
}

.btn {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  margin-top: 50px;
}
.btn__commander {
  border-radius: 30px;
  text-decoration: none;
  box-shadow: 0 1px 10px -3px #7e7e7e;
  padding: 15px 50px;
  text-align: center;
  width: max-content;
  background-image: linear-gradient(170deg, #FF79DA, #9356DC);
  color: white;
}

@media all and (max-width: 640px) {
  .logo-ohmyfood__retour {
    align-self: center;
    font-size: 20px;
  }

  .menu_img {
    background-color: white;
    width: auto;
    height: 270px;
  }
  .menu_img-content {
    width: 100%;
    height: 270px;
    background-position: center center;
    background-size: cover;
  }

  .main-menu {
    background-color: #F2F2F2;
    border-radius: 40px 40px 0 0;
    margin-top: -38px;
  }

  .title__icon {
    padding-left: 0;
  }

  .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 85%;
    border: none;
    padding-top: 25px;
  }

  hr {
    height: 3px;
    width: 11%;
    background-color: #99E2D0;
    border: none;
    margin: 0;
  }

  .cards {
    display: block;
    padding-top: 0;
    width: 100%;
    margin-left: 0;
  }

  .card {
    padding-top: 30px;
  }
  .card__title {
    text-align-last: auto;
    padding-left: 15px;
  }
  .card .card__menu-content {
    background-color: white;
    margin: 16px;
  }

  .btn {
    margin: 0;
    padding-bottom: 70px;
    padding-top: 50px;
  }
}
/* Animation bouton*/
.introduction__btn:hover {
  box-shadow: 0 7px 10px -3px #7e7e7e;
  background: linear-gradient(170deg, #ee81cf, #a469ec);
}

.btn__commander:hover {
  box-shadow: 0 7px 10px -3px #7e7e7e;
  background: linear-gradient(170deg, #ee81cf, #a469ec);
}

/* Animation apparition des menus*/
.card__menu-content:nth-child(1) {
  animation: apparition 1s linear backwards;
}

.card__menu-content:nth-child(2) {
  animation: apparition 1s 0.3s linear backwards;
}

.card__menu-content:nth-child(3) {
  animation: apparition 1s 0.6s linear backwards;
}

.card__menu-content:nth-child(4) {
  animation: apparition 1s 0.9s linear backwards;
}

@keyframes apparition {
  0% {
    opacity: 0;
    transform: translateY(25px);
  }
  40% {
    opacity: 0;
    transform: translateY(25px);
  }
  60% {
    opacity: 0;
    transform: translateY(25px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
/* Animation Loader */
.loading {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(170deg, #ff79da, #9356dc);
  position: fixed;
  z-index: 999;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: loaderPage 3s both;
}

@keyframes loaderPage {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    visibility: hidden;
  }
}
.loader {
  color: white;
  font-family: "Shrikhand", cursive;
  animation: titleLoader 3s ease-in-out both;
}

@keyframes titleLoader {
  0% {
    letter-spacing: -0.5em;
    transform: translateZ(-1000px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    transform: translateZ(0);
    filter: blur(0);
    opacity: 1;
  }
}
.spinner i {
  margin: 100px auto;
  width: 50px;
  height: 40px;
  text-align: center;
  font-size: 50px;
  color: wheat;
  animation: rotationSpinner 3s cubic-bezier(0.55, 0.085, 0.68, 0.53) infinite;
}

@keyframes rotationSpinner {
  0% {
    transform: rotateY(360deg);
    opacity: 1;
  }
  100% {
    transform: rotateY(0deg);
    opacity: 0;
    visibility: hidden;
  }
}
/* Animation heart */
.icon-restaurants {
  color: black;
  background-clip: text;
  cursor: pointer;
}

.full_heart {
  display: none;
  transition: all 0.3s ease;
}

.icon-restaurants:hover .border_heart {
  display: none;
}

.icon-restaurants:hover .full_heart {
  display: block;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-color: #FF79DA;
  background-image: linear-gradient(#9356DC 10%, #FF79DA 95%);
  transition: all 0.3s ease;
}

/* animation heart menus */
.title__icon {
  color: black;
  background-clip: text;
  cursor: pointer;
  font-size: 25px;
  padding-left: 30px;
  align-self: center;
}

.full_heart {
  display: none;
  transition: all 0.3s ease;
}

.title__icon:hover .border_heart {
  display: none;
}

.title__icon:hover .full_heart {
  display: block;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-color: #FF79DA;
  background-image: linear-gradient(#9356DC 10%, #FF79DA 95%);
  transition: all 0.3s ease;
}

/* Animation slide card */
.anim {
  position: absolute;
  right: -65px;
  background: #99E2D0;
  height: 100%;
  width: 18%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: 1s;
  overflow: hidden;
}

.card__menu-content {
  overflow: hidden;
}

.card__menu-content:hover .anim {
  opacity: 1;
  right: 0;
  transition: right 1s;
}

.card__menu-content:hover {
  padding-right: 100px;
  padding-right: 19%;
  transition: 1s;
}

.iconicon {
  font-size: 20px;
  color: white;
  transition: all 1s ease-in-out;
  transform: rotate(0deg);
}

.card__menu-content:hover .iconicon {
  transform: rotate(360deg);
}

.card__menu-content-phrase a {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.card__menu-content h3 {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media all and (min-width: 1100px) and (max-width: 2500px) {
  .card__menu-content:hover {
    padding-right: 10%;
    transition: 1s;
  }

  .anim {
    width: 9%;
  }
}
@media all and (min-width: 641px) and (max-width: 2500px) {
  .card {
    margin-bottom: 41px;
  }
}

/*# sourceMappingURL=style.css.map */
